{% load static %}
{% include './header.html' %}


    <div class="about">
   
        <div class="about_image">
            <img src="{% static 'myapp/image/about.jpg' %}" alt="About Us Image">
        </div>
        <div class="about_tag">
            <h1>About Us</h1>
            <p>
                We pride ourselves on providing an exceptional shopping experience, tailored to your needs. Whether you're looking for personalized recommendations, seamless service, or exclusive deals, we are committed to making your journey through the world of books enjoyable and memorable. Our knowledgeable team is always here to assist you, ensuring that you discover the perfect book to suit your tastes.
                <br><br>
                Join us at AlpaMinds Store, and embark on a literary journey that will captivate your imagination and inspire your soul. Dive into the world of stories, explore new perspectives, and let the magic of books enrich your life. Together, let's celebrate the joy of reading and the endless possibilities it brings.
            </p>
        </div>
    
    </div>

{% include './footer.html' %}
