{% load static %}


<link rel="stylesheet" href="{% static 'myapp/css/forgot password.css' %}">
<title>Forgot Password</title>

</head>
<body>
    <div class="forgot_password_form">
        <!-- Forgot Password form container -->
        <form action="#">
          <h3>Forgot Password</h3>
          <!-- Email input box -->
          <div class="input_box">
            <label for="email">Email Address<span class="required"> *</span></label>
            <input type="email" id="email" placeholder="Enter your email address" required />
          </div>
          <!-- New Password input box -->
          <div class="input_box">
            <label for="new_password">New Password<span class="required"> *</span></label>
            <input type="password" id="new_password" placeholder="Enter new password" required />
          </div>
          <!-- Confirm Password input box -->
          <div class="input_box">
            <label for="confirm_password">Confirm Password<span class="required"> *</span></label>
            <input type="password" id="confirm_password" placeholder="Confirm new password" required />
          </div>
          <!-- Submit button -->
          <button type="submit">Reset Password</button>
          <p class="login_link">Remembered your password? <a href="{% url 'loginpage' %}" target="_blank">Log In</a></p>
        </form>
      </div>
