{% load static %}
{% include './header.html' %}

<!--body-->

<div class="main">

    <div class="main_tag">
        <h1>WELCOME TO<br><span>BOOK STORE</span></h1>

        <p>
            "AlphaMinds Store is more than just a bookstore – it's a dream realized. Born out of a shared passion for literature and learning, our store is a labor of love, crafted with care and dedication. We're Megha, Anupam,Soma and Ahana, four book enthusiasts who wanted to create a space where readers could come together, share ideas, and explore the infinite possibilities of the written word. Join us on this journey, and let's get lost in the magic of books together!"
        </p>
        

    </div>

    <div class="main_img">
        <img src="{% static 'myapp/image/table.jpg' %}">
    </div>

</div>

</section>



    <!--Services-->

    <div class="services">

        <div class="services_box">

            <div class="services_card">
                <i class="fas fa-truck"></i>
                <h3>Fast Delivery</h3>
                <p>
                    "Speedy delivery, right to your doorstep!"
                </p>
            </div>

            <div class="services_card">
                <i class="fab fa-intercom"></i>
                <h3>24 x 7 Services</h3>
                <p>
                    "Round-the-clock service, anytime you need us!"
                </p>
            </div>

            <div class="services_card">
                <i class="fas fa-tag"></i>
                <h3>Best Deal</h3>
                <p>
                    "Unbeatable deals, every time you shop!"
                </p>
            </div>

            <div class="services_card">
                <i class="fas fa-credit-card"></i>
                <h3>Secure Payment</h3>
                <p>
                    "Shop confidently with our secure payment options!"
                </p>
            </div>

        </div>

    </div>
<br><br><br>

    <!--Books-->

   


    
    <!--Arrivals-->
    <div class="arrivals">
    
        <h1>BOOKS</h1>
    
        <div class="arrivals_box">
            {% for item in allItem %}
            <div class="arrivals_card">
                <div class="arrivals_image">
                    <img src="{{item.b_img.url}}">
                </div>
                <div class="arrivals_tag">
                    <h5>{{item.name}}</h5>
                        <p class="book_price">{{item.price}}</p>
                    <a href="/featuresbook1/{{item.id}}" class="arrivals_btn" target="_blank">Learn More</a>
                </div>
            </div>
            {% endfor %}
            <!---- <div class="arrivals_card">
                <div class="arrivals_image">
                    <img src="{% static 'myapp/image/arrival_2.jpg' %}">
                </div>
                <div class="arrivals_tag">
                    <p>New Arrivals</p>
                    
                    <a href="arrivalsbook2.html" class="arrivals_btn" target="_blank">Learn More</a>
                </div>
            </div>
    
            <div class="arrivals_card">
                <div class="arrivals_image">
                    <img src="{% static 'myapp/image/arrival_3.jpg' %}">
                </div>
                <div class="arrivals_tag">
                    <p>New Arrivals</p>
                   
                    <a href="arrivalsbook3.html" class="arrivals_btn" target="_blank">Learn More</a>
                </div>
            </div>
    
            <div class="arrivals_card">
                <div class="arrivals_image">
                    <img src="{% static 'myapp/image/arrival_4.jpg' %}">
                </div>
                <div class="arrivals_tag">
                    <p>New Arrivals</p>
                    
                    <a href="arrivalsbook4.html" class="arrivals_btn" target="_blank">Learn More</a>
                </div>
            </div>
    
            <div class="arrivals_card">
                <div class="arrivals_image">
                    <img src="{% static 'myapp/image/arrival_5.jpg' %}">
                </div>
                <div class="arrivals_tag">
                    <p>New Arrivals</p>
                   
                    <a href="arrivalsbook5.html" class="arrivals_btn" target="_blank">Learn More</a>
                </div>
            </div>
    
            <div class="arrivals_card">
                <div class="arrivals_image">
                    <img src="{% static 'myapp/images/arrivalbook6.jpg' %}">
                </div>
                <div class="arrivals_tag">
                    <p>New Arrivals</p>
                    
                    <a href="arrivalsbook6.html" class="arrivals_btn" target="_blank">Learn More</a>
                </div>
            </div>
    
            <div class="arrivals_card">
                <div class="arrivals_image">
                    <img src="{% static 'myapp/images/arrivalbook7.jpg' %}">
                </div>
                <div class="arrivals_tag">
                    <p>New Arrivals</p>
                    
                    <a href="arrivalsbook7.html" class="arrivals_btn" target="_blank">Learn More</a>
                </div>
            </div>
    
            <div class="arrivals_card">
                <div class="arrivals_image">
                    <img src="{% static 'myapp/image/arrival_8.webp' %}">
                </div>
                <div class="arrivals_tag">
                    <p>New Arrivals</p>
                    
                    <a href="arrivalsbook8.html" class="arrivals_btn" target="_blank">Learn More</a>
                </div>
            </div>
    
            <div class="arrivals_card">
                <div class="arrivals_image">
                    <img src="{% static 'myapp/image/arrival_9.jpg' %}">
                </div>
                <div class="arrivals_tag">
                    <p>New Arrivals</p>
                    
                    <a href="arrivalsbook9.html" class="arrivals_btn" target="_blank">Learn More</a>
                </div>
            </div>
    
            <div class="arrivals_card">
                <div class="arrivals_image">
                    <img src="{% static 'myapp/images/arrivalbook10.jpg' %}">
                </div>
                <div class="arrivals_tag">
                    <p>New Arrivals</p>
                    
                    <a href="arrivalsbook10.html" class="arrivals_btn" target="_blank">Learn More</a>
                </div>
            </div> -->
    
        </div>
    
    </div>
    <br><br><br>



    <!--reviews-->
<br><br><br>
<section id="Reviews">  <!--for link navigation links-->
    <div class="reviews">
    
        <h1>Reviews</h1>

        <div class="review_box">

            <div class="review_card">
                
                <div class="card_top">
                    <img src="{% static 'myapp/image/review_1.png' %}">
                </div>
                <div class="card">
                    <h4>Evelyn Waters</h4>
                    <p>This book explores gardening's transformative history, with a focus on George Orwell's impact. The author provides engaging and accessible writing, offering valuable historical context and connections between gardening and social justice. 

                    </p>
               
                </div>
            </div>

            <div class="review_card">
                
                <div class="card_top">
                    <img src="{% static 'myapp/image/review_2.png' %}">
                </div>
                <div class="card">
                    <h4>Lena Grant </h4>
                    <p>This book redefines gardening as a tool for community, activism, and social change. The author's enthusiasm for radical gardening is inspiring, with well-researched content and practical examples. Highly recommended for those looking to create positive impact through gardening.
                    </p>
                   
                </div>
            </div>

            <div class="review_card">
               
                <div class="card_top">
                    <img src="{% static 'myapp/image/review_3.png' %}">
                </div>
                <div class="card">
                    <h4>Abhijit Roy</h4>
                    <p>This book celebrates gardening's transformative power and inspires positive change, offering practical advice and real-world examples while emphasizing community, cooperation, inclusivity, and diversity. A must-read for gardening and social change enthusiasts.


                    </p>
                    
                </div>
            </div>

            <div class="review_card">
               
                <div class="card_top">
                    <img src="{% static 'myapp/image/review_4.png' %}">
                </div>
                <div class="card">
                    <h4>Ava Moreno</h4>
                    <p>This book inspires positive change through gardening with practical advice and real-world examples. It emphasizes community, cooperation, inclusivity, and diversity in the gardening movement. A must-read for anyone interested in gardening and social change.
                    </p>
                    
                </div>
            </div>

        </div>
   
    </div>
</section>

<!--Banner-->



    

    <!--Blog--> <!--for link navigation links-->
<!-- <section id="Blog">   
    <div class="blog">
    
        <h1>Our Blog</h1>
        <div class="blog_box">

            <div class="blog_card">
                <div class="blog_img">
                    <img src="{% static 'myapp/image/blog_1.jpg' %}">
                </div>
                <div class="blog_tag">
                    <h2>Bloger</h2>
                    <p>
                        In today’s fast-paced world, finding time to immerse ourselves in a good book can feel like a luxury. At [Your Bookstore's Name], we’re here to change that. We believe that stories have the power to transport us to new worlds, inspire our dreams, and enrich our lives.
                    </p>
                    <div class="blog_icon">
                        <i class="fa-solid fa-calendar-days"></i>
                        <i class="fa-solid fa-heart"></i>
                    </div>
                </div>
            </div>

            <div class="blog_card">
                <div class="blog_img">
                    <img src="{% static 'myapp/image/blog_2.jpg' %}">
                </div>
                <div class="blog_tag">
                    <h2>Bloger</h2>
                    <p>
                        Whether you’re a fan of thrilling mysteries, heartwarming romances, thought-provoking non-fiction, or magical adventures, our online bookstore offers something for everyone. With an extensive collection of handpicked titles from renowned authors and emerging voices, we aim to bring the literary universe to your fingertips.
                    </p>
                    <div class="blog_icon">
                        <i class="fa-solid fa-calendar-days"></i>
                        <i class="fa-solid fa-heart"></i>
                    </div>
                </div>
            </div>

            <div class="blog_card">
                <div class="blog_img">
                    <img src="{% static 'myapp/image/blog_3.jpg' %}">
                </div>
                <div class="blog_tag">
                    <h2>Bloger</h2>
                    <p>
                        Our user-friendly platform is designed to make your book-buying experience smooth and enjoyable. Browse through curated categories, check out bestseller lists, and read customer reviews to make informed choices. Plus, with personalized recommendations, you'll always discover your next favorite read.
                    </p>
                    <div class="blog_icon">
                        <i class="fa-solid fa-calendar-days"></i>
                        <i class="fa-solid fa-heart"></i>
                    </div>
                </div>
            </div>

        </div>
    
    </div>
</section> -->

    <!--About-->


    <div class="about">
   
        <div class="about_image">
            <img src="{% static 'myapp/image/about.jpg' %}" alt="About Us Image">
        </div>
        <div class="about_tag">
            <h1>About Us</h1>
            <p>
                We pride ourselves on providing an exceptional shopping experience, tailored to your needs. Whether you're looking for personalized recommendations, seamless service, or exclusive deals, we are committed to making your journey through the world of books enjoyable and memorable. Our knowledgeable team is always here to assist you, ensuring that you discover the perfect book to suit your tastes.
                <br><br>
                Join us at AlphaMinds Store, and embark on a literary journey that will captivate your imagination and inspire your soul. Dive into the world of stories, explore new perspectives, and let the magic of books enrich your life. Together, let's celebrate the joy of reading and the endless possibilities it brings.
            </p>
        </div>
    
    </div>

    




    <!--Footer-->

    
{% include './footer.html' %}