 /* General Body Styling */
 body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

/* Header Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10px red;
    background: #fff;
    position: fixed;
    left: 0;
    z-index: 100;
    
}

.logo img {
    width: 70px;
    cursor: pointer;
    margin: 8px 0;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    padding: 0 15px;
    
}

nav li a {
    text-decoration: none;
    color: #000;
}

nav li a:hover {
    color: red;
}

nav .social_icon {
    display: flex;
    align-items: center;
}

nav .social_icon i {
    margin: 0 5px;
    font-size: 18px;
    cursor: pointer;
}

nav .social_icon i:hover {
    color: red;
    cursor: pointer;
}


/* Orders Section */
.order-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    background: #f9f9f9;
}

.order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.order-header span {
    font-weight: bold;
}

.order-details {
    margin-bottom: 10px;
}

/* Buttons */
.order-buttons button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.order-buttons button:hover {
    background-color: #45a049;
}

/* Footer */
footer{
width: 100%;
background: #eaeaea;
}

footer .footer_main{
width: 100%;
display: flex;
justify-content: space-around;
}

footer .footer_main .tag{
margin: 10px 0;
}

footer .footer_main .tag img{
width: 100px;
margin-bottom: 10px;
}

footer .footer_main .tag p{
width: 250px;
line-height: 22px;
text-align: justify;
}

footer .footer_main .tag h1{
font-size: 25px;
margin: 25px 0;
color: #000;
}

footer .footer_main .tag a{
display: block;
color: black;
text-decoration: none;
margin: 10px 0;
}

footer .footer_main .tag i{
margin-right: 10px;
}

footer .footer_main .tag .social_link i{
margin: 0 5px;
}

footer .footer_main .tag .search_bar{
width: 230px;
height: 30px;
background: rgba(202,202,202);
border-radius: 25px;
}

footer .footer_main .tag .search_bar input{
width: 200px;
padding: 2px 0;
position: relative;
top: 17%;
left: 6%;
border: none;
outline: none;
font-size: 13px;
background: none;
}

footer .footer_main .tag .search_bar button{
padding: 7px 15px;
background: red;
border: none;
margin-top: 15px;
border-radius: 25px;
color: #fff;
cursor: pointer;
}

footer .end{
display: flex;
align-items: center;
justify-content: center;
padding: 15px;
color: #000;
}

footer .end span{
color: red;
margin-left: 10px;
}