body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 800px;
}

.left-section {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-section h2 {
    margin: 0;
}

.price-summary {
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    border-radius: 50%;
    margin-right: 10px;
}

.right-section {
    padding: 20px;
    width: 60%;
}

.payment-options {
    list-style: none;
    padding: 0;
}

.payment-options li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.payment-options img {
    margin-right: 10px;
}
.qr-code {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}


