* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: #000000;
}
body {
    width: 100%;
    min-height: 100vh;
    padding: 0 10px;
    display: flex;
    background: rgba(23, 108, 161, 0.8);
    background-image: url('images/login book.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    justify-content: center;
    align-items: center;
}
.signup_form {
    width: 100%;
    max-width: 600px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 6px;
    padding: 41px 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    color: #000000;
}
.signup_form h3 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}
.signup_form .input_box {
    margin-bottom: 24px;
}
.signup_form .input_box label {
    display: block;
    font-weight: 500;
    margin-bottom: 8px;
    color: #000000;
}
.signup_form .input_box input,
.signup_form .input_box select,
.signup_form .input_box textarea {
    width: 100%;
    height: 50px;
    border: 1px solid #000000;
    border-radius: 5px;
    outline: none;
    background: #FFFFFF;
    font-size: 17px;
    padding: 0px 20px;
    transition: 0.2s ease;
    color: #000000;
}
.signup_form .input_box textarea {
    height: 100px;
    resize: vertical;
}
.signup_form .input_box input:focus,
.signup_form .input_box select:focus,
.signup_form .input_box textarea:focus {
    border-color: #000000;
}
.signup_form a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}
.signup_form a:hover {
    text-decoration: underline;
}
.required {
    color: red;
    margin-left: 5px;
}
.signup_form button {
    width: 100%;
    height: 56px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: #000000;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
}
form .input_box label .required {
    color: red;
}
.pin-container {
    display: flex;
    align-items: center;
    margin-top: 2px;
}
.pin-input {
    width: 40px;
    height: 40px;
    margin: 5px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #000000;
    border-radius: 5px;
}
.pin-label {
    text-align: center;
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 500;
}
/* Social signup buttons styling */
.social_signup button {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
.social_signup .google {
    background-color: #db4437;
    color: #ffffff;
}
.social_signup .apple {
    background-color: #000000;
    color: #ffffff;
}