<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.6.0/cerulean/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<title>Title</title>
</head>
<body>
    <div class="container">
        <h1>Student Listing</h1>
        {% if allfeatured %}
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Category Name</th>
                        <th>Details</th>
                        <!--<th>Contact Number</th>-->
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rec in allfeatured %}
                    <tr>
                        <td>{{rec.featured_books}}</td>
                        <td>{{rec.about_books}}</td>
                        <td></td>
                        <!--<td><a href="stdupd/{{std.id}}"><i class="fas fa-edit text-primary"></i></a></td>
                        <td><a href="stddel/{{std.id}}"><i class="fas fa-trash text-danger"></i></a></td>-->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h4>No Student Details Found</h4>
        {% endif %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p> 
            {% endfor %}
        {% endif %}
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>