<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Student Update</h1>
    <form method="post">
        {% csrf_token %}
        <table cellpadding="7">
            <tbody>
                {% for frm in form %}
                    <tr>
                    <td>{{frm.label}}</td>
                    <td>{{frm}}</td>
                    <td>{{frm.errors | striptags}}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="2" align="center"><button>Save Changes</button></td>
                </tr>
            </tbody>
        </table>
    </form>

</body>
</html>